#notice-pagination-box {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

#notice-pagination-box .left-button,
#notice-pagination-box .right-button {
    line-height: 50px;
}

#notice-pagination-box .left-button {
    display: flex;
    flex-direction: row-reverse;
    width: 40px;
    height: 40px;

    background-size: 100% 100%;

    cursor: pointer;
}

#notice-pagination-box .right-button {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;

    background-size: 100% 100%;

    cursor: pointer;
}

#notice-pagination-box .page-list {
    display: flex;
    gap: 16px;
}

#notice-pagination-box .page {
    color: rgba(138, 146, 166, 1);

    font-size: 18px;
    font-weight: 400;
    line-height: 20px;

    cursor: pointer;
}

#notice-pagination-box .page.active {
    color: black;

    font-weight: 700;
    cursor: default;
}